* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

.content {
    position: relative;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    perspective: 500px;
}

.cub {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 45deg);
}

.str {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 4px solid #000000;
    font: bold 70px Arial;
    text-align: center;
    line-height: 300px;
    color: #000000;
    backface-visibility: visible;
    opacity: 0.8;
}

.str1 {
    background: red;
    transform: translateZ(150px);
}

.str2 {
    background: blue;
    transform: rotateY(180deg) translateZ(150px);
}

.str3 {
    background: yellow;
    transform: rotateX(90deg) translateZ(150px);
}

.str4 {
    background: green;
    transform: rotateY(-90deg) translateZ(150px);
}

.str5 {
    background: cyan;
    transform: rotateY(90deg) translateZ(150px);
}

.str6 {
    background: magenta;
    transform: rotateX(-90deg) translateZ(150px);
}